@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&family=Prompt:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');

:root{
	--text-color-white: #f5eded;
	--body-color-bg : #080c24;
	--primary-color-purple-light: #8843f2;
	--primary-color-purple-dark:#5319ac;
	--glass-bg: rgba(255, 255, 255, .25);
	--glass-bg-border: rgba(255, 255, 255, .18);
	--font-prompt:'Prompt', sans-serif;
	--font-jetbrains-mono: 'JetBrains Mono';
	--font-space-mono:'Space Mono';


}

body{
	color: var(--text-color-white);
	background-color: var(--body-color-bg);
}
p{
	margin: unset;
}
a{
	text-decoration: none;
	color: inherit;
}
ul{
	margin: unset;
}

.f-13{
	font-size: 13px;
}
.fw-400{
	font-weight: 400;
}
.fw-500{
	font-weight: 500;
}

.fw-600{
	font-weight: 600;
}

.f-space-mono{
	font-family: var(--font-space-mono);
}
.f-promt-text{
	font-family: var(--font-prompt);
}

.text-color-purple{
	color: var(--primary-color-purple-light);
}
.text-color-white{
	color: var(--text-color-white);
}
.site_btn_set_line{
	display: flex;
	flex-wrap: wrap;
	gap: 20px;
	align-items: center;
}
.site_btn_custm{
	display: inline-block;
	padding: 1rem 2.5rem;
	color: var(--text-color-white);
	border-radius: 10px;
	background: var(--glass-bg);
	backdrop-filter: blur(7px);
	border: 1px solid var(--glass-bg-border);
	box-shadow: 0 10px 30px -15px var(--primary-color-purple-dark);
	transition: all 0.3s ease;
}
.site_btn_custm:hover{
	transform: translateY(-5px)
}

@media (min-width: 992px) {
    .container {
        max-width: 70%;
    }
}